<% layout('layouts/boilerplate') %>
<section style="margin-top:25px;">
  <div class="text-center" style="padding:15px 100px;">
    <h1>Explore Campgrounds in Malaysia</h1>
    <p>Discover the best camping spots across Malaysia. Use the interactive map to find and explore various campgrounds. Click on the markers to learn more about each location and plan your next outdoor adventure.</p>
  </div>
  <div id="map"></div>
</section>

<section>
  <h1 class="my-4 text-center">All Campgrounds</h1>
  <div class="row">
    <% campgrounds.forEach(campground=> { %>
    <div class="col-md-6 col-lg-4">
      <div class="card" style="margin-bottom:25px;">
        <img src="<%= campground.image[0].url %>" class="card-img-top" alt="Image of <%= campground.title %>" style="height: 320px;">
        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title %>
          </h5>
          <p class="card-text"><small>
              <%= campground.location %>
            </small></p>
          <a href="/campground/<%= campground._id %>" class="btn btn-dark">View Campground</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>



<!-- Pass the campgrounds data to the client side -->
<script>
  const campground = {
    features: <%- JSON.stringify(campgrounds) %>
  }
</script>
<script src="/javascript/clusterMap.js"></script>